body{
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}
main{
    display: flex;
    flex-direction: column;
}
#header{
    width: 100%;
    height: 600px;
    background-image: url("./images/background.jpg"); 
    background-position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#head-text{
    top: 20%;
    position: absolute;
    left: 15%;
}
#big-text{
    font-size: 40px;
    font-weight: bold;
    
}
.button{
    outline: 0;
    border: 0;
    background-color: white;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 25px;

}
.container{
    margin: 50px 15%;
}
.caption{
   font-size: 28px;
}
.yellow-div{
    text-align: center;
    height: 100px;
    background-color: #FCCE34;
}
.yellow-div >p{
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.big-grid{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
.big-grid-item{
    display: flex;
    flex-direction: column;
    background-color: #FCCE34;
    flex: 30%;
}
.b-item-img{
    width: 100%;
}
.b-item-desc >h3{
    color: #000;
}
.b-item-desc{
    padding: 10px 20px;
    color: #fff;
}
.type{
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    background-color: gold;
    margin: 20px;
    font-size: 10px;  
}

.small-grid{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    
}
.small-grid-item{
    flex: 22%;
}
.s-item-img{
    width: 100%;
}
#foot{
    display: flex;
    flex-direction: column;
    height: 140px;
    background-color: #FCCE34;
    color: white;
    justify-content: center;
}
.foot-text p{
    margin-top: 20px;
    color-scheme: white;
    font-weight: bold;
    font-size: 18px;
}
.foot-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}   
.foot-text >.button{
    margin: 10px;
}